In [1]:
import pandas as pd
import numpy as np

In [5]:
df.shape

(57652, 7)

# This is the first exercise.

In [24]:
pwt_data = {'countrycode': ['CHN', 'CHN', 'CHN', 'FRA', 'FRA', 'FRA'],
        'pop': [1124.8, 1246.8, 1318.2, 58.2, 60.8, 64.7],
        'rgdpe': [2.611, 4.951, 11.106, 1.294, 1.753, 2.032],
        'year': [1990, 2000, 2010, 1990, 2000, 2010]}

pwt = pd.DataFrame(pwt_data)
#made a dataframe pwt from dictionary
pwt

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

## A

In [13]:
pwt.shape

(6, 4)

## B

In [20]:
type(pwt['pop'][0])

numpy.float64

## C

In [23]:
pwt.columns.tolist()
#seems to put the key of the columns into a list

['countrycode', 'pop', 'rgdpe', 'year']

## D

In [27]:
type(list(pwt)[0])
#seems to be the key for the first column. Type is obviously string.

str

In [42]:
pwt_data = {'countrycode': ['CHN', 'CHN', 'CHN', 'FRA', 'FRA', 'FRA'],
        'pop': [1124.8, 1246.8, 1318.2, 58.2, 60.8, 64.7],
        'rgdpe': [2.611, 4.951, 11.106, 1.294, 1.753, 2.032],
        'year': [1990, 2000, 2010, 1990, 2000, 2010]}

pwt = pd.DataFrame(pwt_data)
#made a dataframe pwt from dictionary
pwt

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

# understanding dataframes

In [47]:
pwt['pop']

0    1124.8
1    1246.8
2    1318.2
3      58.2
4      60.8
5      64.7
Name: pop, dtype: float64

In [49]:
# create a series from a dictionary
gdp = {"GDP": [5974.7, 10031.0, 14681.1]} 
# what kind of data structure is this
print(type(gdp))

<class 'dict'>

In [50]:
# 'name' parameter specifies the column name of the series object
gdp_s= pd.Series(gdp,name='GDP')
print(type(gdp_s))

gdp_s

<class 'pandas.core.series.Series'>

GDP    [5974.7, 10031.0, 14681.1]
Name: GDP, dtype: object

In [51]:
# create a series from a numpy 1 dimension array
cpi = np.array([127.5, 169.3, 217.488])
cpi_s= pd.Series(cpi,name='CPI')

# create series from a list
year = [1990, 2000, 2010]
country = ["US", "US", "US"]
year_s = pd.Series(year,name='Year')
country_s = pd.Series(country,name='Country')

In [52]:
Series_Df = pd.concat([year_s,country_s],axis=1)
print(Series_Df)
Series_Df = pd.concat([year_s,country_s],axis=0)
print(Series_Df)

   Year Country
0  1990      US
1  2000      US
2  2010      US
0    1990
1    2000
2    2010
0      US
1      US
2      US
dtype: object

In [60]:
data = {"GDP": [5974.7, 10031.0, 14681.1],
                   "CPI": [127.5, 169.3, 217.488],
                   "Year": [1990, 2000, 2010],
                   "Country": ["US", "US", "US"]}

In [61]:
df = pd.DataFrame(data)

In [62]:
df

       GDP      CPI  Year Country
0   5974.7  127.500  1990      US
1  10031.0  169.300  2000      US
2  14681.1  217.488  2010      US

In [63]:
df['CPI']

0    127.500
1    169.300
2    217.488
Name: CPI, dtype: float64

In [68]:
df[['CPI','Country']]

       CPI Country
0  127.500      US
1  169.300      US
2  217.488      US

In [69]:
df.columns

Index(['GDP', 'CPI', 'Year', 'Country'], dtype='object')

In [71]:
pwt.loc[pwt['year']==2000]

  countrycode     pop  rgdpe  year
1         CHN  1246.8  4.951  2000
4         FRA    60.8  1.753  2000

In [72]:
print(pwt.set_index(["year"]).loc[2000])

     countrycode     pop  rgdpe
year
2000         CHN  1246.8  4.951
2000         FRA    60.8  1.753

In [74]:
pwt.reset_index()

   index countrycode     pop   rgdpe  year
0      0         CHN  1124.8   2.611  1990
1      1         CHN  1246.8   4.951  2000
2      2         CHN  1318.2  11.106  2010
3      3         FRA    58.2   1.294  1990
4      4         FRA    60.8   1.753  2000
5      5         FRA    64.7   2.032  2010

In [79]:
pwt

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

In [82]:
pwt.loc[pwt['countrycode']=='FRA']

  countrycode   pop  rgdpe  year
3         FRA  58.2  1.294  1990
4         FRA  60.8  1.753  2000
5         FRA  64.7  2.032  2010

In [83]:
df=pd.DataFrame(data)